
.container {
    flex-direction: column;
    display:flex;
    margin:2em;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #696FF5;
    padding:5em;
    margin:1em;
    height:80vh;
}

.AnimateTextContainer > * {
    visibility:hidden;
    animation: Bring-out 300ms ease-in forwards;
}

@keyframes Bring-out {
    0% {
        visibility: hidden;
    }
     100% {
         visibility: visible;
     }
}